 @font-face
   font-family MADSansFill
   font-style normal
   src url(fonts/mad-sans-fill-regular.ttf)

 @font-face
   font-family MADSansFill
   font-weight 500
   font-style normal
   src url(fonts/mad-sans-fill-bold.ttf)

 @font-face
   font-family MADSansFill
   font-weight 100
   font-style normal
   src url(fonts/mad-sans-fill-light.ttf)

 @font-face
   font-family MADSansLight
   font-style normal
   src url(fonts/mad-sans-light.ttf)